src/main/resources/schemas/TD_LOGISTICS_LOGISTICS_2_0_RC3/core_components/clinicalprocess_logistics_logistics_2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
 Licensed to the Apache Software Foundation (ASF) under one
 or more contributor license agreements. See the NOTICE file
 distributed with this work for additional information
 regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
 to you under the Apache License, Version 2.0 (the
 "License"); you may not use this file except in compliance
 with the License. You may obtain a copy of the License at

 http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing,
 software distributed under the License is distributed on an
 "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 KIND, either express or implied. See the License for the
 specific language governing permissions and limitations
 under the License.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="urn:riv:clinicalprocess:logistics:logistics:2"
    xmlns:codes="urn:riv:clinicalprocess:logistics:logistics:enums:2"
    targetNamespace="urn:riv:clinicalprocess:logistics:logistics:2" elementFormDefault="qualified"
    attributeFormDefault="unqualified" version="2.0">

    <xs:import schemaLocation="./clinicalprocess_logistics_logistics_enum_2.0.xsd"
        namespace="urn:riv:clinicalprocess:logistics:logistics:enums:2"/>

    <xs:complexType name="CareContactType">
        <xs:sequence>
            <xs:element name="careContactHeader" type="tns:PatientSummaryHeaderType"/>
            <xs:element name="careContactBody" type="tns:CareContactBodyType"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="CareContactBodyType">
        <xs:annotation>
            <xs:documentation>
                careContactCode:
                    Typ av vård- och omsorgsdokumentation. Nullvärde tillåtetet.
                careContactReason:
                    Text som beskriver orsaken till vård- och omsorgskontakt som 
                    vård- och omsorgstagaren själv eller dess företrädare anger.
                careContactTime:
                    Tidpunkt för kontakt.
                careContactUnit:
                    Den eller de enheter som kontakt utfördes vid
                careContactStatus:
                    Tillåtna statusvärden (från KV aktivitetsmomentstatus)
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="careContactCode" type="codes:CareContactCodeEnum"/>
            <xs:element name="careContactReason" type="xs:string" minOccurs="0"/>
            <xs:element name="careContactTime" type="tns:TimeStampType"/>
            <xs:element name="careContactUnit" type="tns:CareContactUnitType" minOccurs="0"
                maxOccurs="unbounded"/>
            <xs:element name="careContactStatus" type="codes:CareContactStatusEnum" minOccurs="0"
                maxOccurs="1"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CareContactUnitType">
        <xs:annotation>
            <xs:documentation>
                careContactUnitId:
                    HSA-id på den person inom enheten som hade
                    kontakt med patienten
                careContactUnitName:
                    Namne på enhet 
                careContactUnitAddress:
                    Adress till enhet
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="careContactUnitId" type="tns:HSAIdType"/>
            <xs:element name="careContactUnitName" type="xs:string"/>
            <xs:element minOccurs="0" name="careContactUnitTelecom" type="xs:string"/>
            <xs:element minOccurs="0" name="careContactUnitEmail" type="xs:string"/>
            <xs:element name="careContactUnitAddress" type="xs:string" minOccurs="0"/>
            <xs:element minOccurs="0" name="careContactUnitLocation" type="xs:string"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PatientSummaryHeaderType">
        <xs:annotation>
            <xs:documentation>
                documentId: 
                    Vårddokumentets unika identifierare.
                    OID kan sättas till 1.2.752.129.2.1.2.1 
                    (Icke-nationell identifierare Org+lokalt unikt id)
                sourceSystemHSAid:
                    HSAid för det system som dokumentet är skapat i.
                documentTitle: 
                    Titel på dokumentet/anteckningen
                documentTime: 
                    Relevant tid, definieras för varje meddelande
                patientId: 
                    Patientens ID. Root sätts till typ av patientidentifierare
                    Bland tillåtna typer för finns: 
                    personnummer (1.2.752.129.2.1.3.1), 
                    samordningsnummer (1.2.752.129.2.1.3.3), 
                    reservnummer SLL (1.2.752.97.3.1.3)
                author
                    Information om författare till dokumentet
                legalAuthenticator
                    Information om vem som signerat informationen i dokumentet.
                approvedForPatient:
                    Anger om information får delas till patient. Värdet sätts i 
                    sådant fall till true, i annat fall till false.
                careContactId:
                    Identitet för den vård- och omsorgskontakt som föranlett den 
                    information som omfattas av dokumentet. Identiteten är unik 
                    inom källsystemet.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="documentId" type="xs:string"/>
            <xs:element name="sourceSystemHSAid" type="tns:HSAIdType"/>
            <xs:element name="documentTitle" type="xs:string" minOccurs="0"/>
            <xs:element name="documentTime" type="tns:TimeStampType"/>
            <xs:element name="patientId" type="tns:PatientIdType"/>
            <xs:element name="author" type="tns:AuthorType"/>
            <xs:element name="approvedForPatient" type="xs:boolean"/>
            <xs:element name="careContactId" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AuthorType">
        <xs:annotation>
            <xs:documentation>
				Information om författare till dokumentet
			
				authorTime: 
					Tidpunkt då dokumentet skapades
				authorHSAid: 
					HSA-id för författare. 
					OID för HSA används (1.2.752.129.2.2.1.4)
				authorRoleCode: 
					Kod för författarens befattning, enligt kodverket Befattning (OID 1.2.752.129.2.2.1.4)
				authorName: 
					Namn på författaren
				careUnitHSAid: 
					HSA-id för den enhet som författaren är uppdragstagare hos
				careUnitName: 
					Namn på den enhet som författaren är uppdragstagare hos
				careUnitAddress: 
					Adress till den enhet som författaren är uppdragstagere hos
				careGiverHSAid:
					HSA-id för vårdgivaren, som är vårdgivare för den enhet som författaren är uppdragstagare för
			</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="authorTime" type="tns:TimeStampType"/>
            <xs:element name="authorHSAid" type="tns:HSAIdType"/>
            <xs:element name="authorRoleCode" type="xs:string" minOccurs="0"/>
            <xs:element minOccurs="0" name="authorOtherRole" type="tns:AuthorOtherRoleType"/>
            <xs:element name="authorName" type="xs:string" minOccurs="0"/>
            <xs:element name="authorOrgUnitHSAid" type="tns:HSAIdType"/>
            <xs:element name="authorOrgUnitName" type="xs:string"/>
            <xs:element name="authorOrgUnitAddress" type="xs:string" minOccurs="0"/>
            <xs:element name="careUnitHSAid" type="tns:HSAIdType"/>
            <xs:element name="careGiverHSAid" type="tns:HSAIdType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- 
        Below: only helper types allowed.
        
        A helper type is a type used in one ore more of the domain schema common types.
        It can also be a type used in two or more service schemas.
    -->

    <xs:complexType name="DatePeriodType">
        <xs:annotation>
            <xs:documentation>
                Används för att specificera ett datumintervall
                med hjälp av start- och slutdatum.
                
                start: 
                    Startdatum på formatet ÅÅÅÅMMDD
                end: 
                    Slutdatum på formatet ÅÅÅÅMMDD
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="start" type="tns:DateType"/>
            <xs:element name="end" type="tns:DateType"/>
        </xs:sequence>
    </xs:complexType>

    <!-- YYYYMMDD -->
    <xs:simpleType name="DateType">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- @TODO Should we have maxlength 64? -->
    <xs:simpleType name="HSAIdType">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="PatientIdType">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="type" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TimePeriodType">
        <xs:annotation>
            <xs:documentation>
                Används för att specificera ett datumintervall
                med hjälp av start- och slutdatum.
                
                start: 
                Startdatum på formatet YYYYMMDDhhmmss
                end: 
                Slutdatum på formatet YYYYMMDDhhmmss
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="start" type="tns:TimeStampType"/>
            <xs:element name="end" type="tns:TimeStampType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="TimeStampType">
        <xs:annotation>
            <xs:documentation>
                A quantity specifying a point on the axis of natural time.
                A point in time is most often represented as a calendar
                expression.
                
                The time has the format YYYYMMDDhhmmss
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern
                value="(19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])(0[0-9]|1[0-9]|2[0123])([0-5])([0-9])([0-5])([0-9])"
            />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="AuthorOtherRoleType">
        <xs:annotation>
            <xs:documentation/>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="authorOtherRoleCode" type="xs:string"/>
            <xs:element name="authorOtherRoleCodeOID" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
